* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background: #008240;
  background: -webkit-linear-gradient(to right, #008240, #77BE4E);
  background: linear-gradient(to right, #008240, #77BE4E);
}

.event_post {
  margin: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.title {
  padding-top: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.5px;
  color: #333;
}

.container_left {
  float: left;
  width: 25%;
  text-align: center;
}

.img_box {
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 5%;
}

.img {
  max-width: 100%;
  border-radius: 5%;
}

.date {
  color: black;
  font-size: 2.00rem;
}

.time {
  color: black;
  font-size: 2.00rem;
}

.container_right {
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  overflow: hidden;
  width: 71%;
}

.hostedBy {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: #333;
}

.location {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: #333;
  overflow: hidden;
}

.desc {
  width: auto;
  padding-right: 4px;
  max-height: 200px;
  font-size: 1.25rem;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.button_container {
  width: 100%;
  float: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: linear-gradient(90deg, #FFC746, #FFB500);
  margin-bottom: 4px;
  margin-top: 8px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  padding: .50rem 1rem;
  border: none;
  box-shadow: 0 4px #999;
}

.button:hover {background: #FFB500}

.button:active {
background-color: #FFB500;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .container_left, .container_right {
      width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }

  .time_container{
    float: right;
  }

  .time, .date { 
    font-size: 1.25rem;
  }

  .hostedBy, .location, .desc {
    font-size: 1.0rem;
  }

  .img_box {
    background: none;
    box-shadow: none;
    border-radius: none;
  }

  .img {
    max-height: 150px;
  }

  .desc {
    max-height: 100px;
  }
}