*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 100px;
}

.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
}

nav{
	flex: 1;
	text-align: right;
}

.logo{
	width: 75px;
	height: 75px;
	border-radius: 100%;
	cursor: pointer;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin-right: 30px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	padding: 5px 2px;
}

nav ul li a:hover{
	border-bottom: 1px solid;
}

.content{
	max-width: 600px;
	color: #fff;
	margin-top: 15%;
}

h1{
	font-size: 46px;
	line-height: 70px;
	letter-spacing: 1px;
	margin: 15 0;
}

p{
	font-size: 12px;
	line-height: 22px;
	
}

span{
	color: #00FF00
}

.button-box{
	margin-top: 20px;
	
}

button{
	width: 150px;
	border: 1px solid #fff;
	color: #ff6b3f;
	padding: 10px;
	margin-right: 10px;
	border-radius: 25px;
	cursor: pointer
	background: #ff6b3f;
}

.bottombar{
	width: 100%;
	height: 10vh;
	background: #000;
	background: absolute;
	top: 0;
	left: 0;
	
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
