<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Bronco Calendar
    </title>
	<style th:inline="text">
    body{
        background: url(https://www.cpp.edu/collins/img/future-students/collins-school-9-4.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
  		-moz-background-size: cover;
 		-o-background-size: cover;
 		background-size: cover;
                    
    }
    
</style>
</head>
<body link="#000" alink="#017bf5" vlink="#000000">
<br /><br />
<img src= "https://media-exp1.licdn.com/dms/image/C560BAQH8mLo7H_WXuQ/company-logo_200_200/0?e=2159024400&v=beta&t=XzWwTpZ1F1HZ_OOj_xKkBDX9pcDvsdqOkRFU3E_C7J8" align= "left" width="100" height="100">

<br />
<h3 align="center">

    <font face="Lato" color="#FFF000" size="5">
        <a href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Contact Us</a>
    </font>
</h3>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<h1 align="center">
    <font face="Lato" color="#FFFFFF" size="7">
        Welcome to Bronco Calendar
    </font>
</h1>

<h3 align="center">
    <font face="Lato" color="#FFFFFF" size="5">
        Find all CPP events on our calendar
    </font>
</h3>
<br />

<h3 align="center">
    <a href="#">
        <font face="Lato" color="#FFFFFF">GET STARTED</font>
    </a>
</h3>

</body>
</html>