<!DOCTYPE html>
<html>
<head>
	<title>Bronco Calendar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{welcome}" />
    <link rel="stylesheet" href="welcome" type="text/css">
	
	<style>
		body,h1,h2,h3,h4,h5,h6 {
			font-family: "Raleway", Arial, Helvetica, sans-serif
		}
	</style>
</head>	
<body class="w3-light-grey">

	<div class="w3-top">
		<div class="w3-bar w3-white w3-large">
  			<a class="w3-bar-item w3-green w3-mobile"><i class="fa fa-home w3-margin-right"></i>BroncoCalendar</a>
 	 		<a href="/home" class="w3-bar-item w3-button w3-mobile">Home</a>
  			<a href="/calendar" class="w3-bar-item w3-button w3-mobile">Calendar</a>
  			<a href="/events" class="w3-bar-item w3-button w3-mobile">Events</a>
  			<a href="login" class="w3-bar-item w3-button w3-right w3-green w3-mobile"><i class ="fa fa-user w3-margin-right"></i>login</a>
		</div>
	</div>

	<header class="w3-display-container w3-content" style="max-width:1500px;">
  		<img class="w3-image" src="https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="The Hotel" style="min-width:1000px" width="1500" height="700">
  		<div class="w3-display-left w3-padding w3-col l6 m8">
    		<div class="w3-container w3-text-white">
      			<h1>Welcome to Bronco Calendar</h1>
      			<h3>Find all the CPP clubs and organizations events!</h3>
    		</div>
    		<div class="w3-container  w3-padding-16">
        		<button class="w3-button w3-center w3-green" type="submit"><i class="fa fa-search w3-margin-right"></i><a href="events">Find Events</a></button>
    		</div>
  		</div>	
	</header>

	<div class="w3-content" style="max-width:1532px;">
  		<div class="w3-container">
    		<h3>Clubs and Organizations</h3>
    		<h6>You can find CPP events here!</h6>
  		</div>
  		<div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    		<div class="w3-half w3-margin-bottom">
      			<div class="w3-display-container">
        			<img src="https://se-infra-cdn-images.azureedge.net/documents/1651/682a3469-e8ae-4c97-9522-08d746010b69/1500.jpg" style="width:100%">
        			<span class="w3-display-bottomleft w3-padding">CPP Men's Basketball Club</span>
      			</div>
    		</div>
    		<div class="w3-half">
      			<div class="w3-row-padding" style="margin:0 -16px">
       				<div class="w3-half w3-margin-bottom">
          				<div class="w3-display-container">
            				<img src="https://se-infra-imageserver2.azureedge.net/clink/images/d9af3782-c6b3-4ead-966e-56fadb5b8eeb014f581e-2789-4c2e-a62e-84e7401a02c6.jpg?preset=w1500" style="width:100%">
            				<span class="w3-display-bottomleft w3-padding">Bronco Esports</span>
          				</div>
        			</div>
        			<div class="w3-half w3-margin-bottom">
          				<div class="w3-display-container">
            				<img src="https://images.squarespace-cdn.com/content/v1/5769f1411b631bab1add5dd9/1518484729928-35OTXLABWHXL0D7AXC9R/ke17ZwdGBToddI8pDm48kDEDYh4Y0JGhR6hzuwcJ44gUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcz6bs2FkMoqlrQIzq4g5ogDqXr_T7rMikH_TfPkEE4wwzGwe9KEhUq6A0DxOZf-75/VCN+group.jpg?format=750w" style="width:100%">
            				<span class="w3-display-bottomleft w3-padding">VSA</span>
          				</div>
        			</div>
      			</div>
      			<div class="w3-row-padding" style="margin:0 -16px">
        			<div class="w3-half w3-margin-bottom">
          				<div class="w3-display-container">
           					<img src="https://se-infra-cdn-images.azureedge.net/documents/1651/0244f652-1903-47bf-a2af-08d83556c62c/1500.jpg" style="width:100%">
            				<span class="w3-display-bottomleft w3-padding">Poly Lens</span>
          				</div>
        			</div>
        			<div class="w3-half w3-margin-bottom">
          				<div class="w3-display-container">
            				<img src="https://se-infra-cdn-images.azureedge.net/documents/1651/f7d6de1d-c682-4bf3-9b2e-08d746010b69/1500.jpg" style="width:100%">
            				<span class="w3-display-bottomleft w3-padding">Finance Society</span>
          				</div>
        			</div>
      			</div>
    		</div>
  		</div>

  		<div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
    		<h2>Get updates on daily events!</h2>
    		<p>Join our newsletter.</p>
    		<label>E-mail</label>
    		<input class="w3-input w3-border" type="text" placeholder="Your Email address">
    		<button type="button" class="w3-button w3-green w3-margin-top">Subscribe</button>
  		</div>

  		<div class="w3-container" id="contact">
    		<h2>Contact</h2>
    		<p>If you have any questions, do not hesitate to ask them.</p>
    		<i class="fa fa-map-marker w3-text-green" style="width:30px"></i> Pomona, CA<br>
    		<i class="fa fa-phone w3-text-green" style="width:30px"></i> Phone: (909) 869-7659<br>
    		<i class="fa fa-envelope w3-text-green" style="width:30px"> </i> Email: broncocalendar@gmail.com<br>
    		<form action="/action_page.php" target="_blank">
      			<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      			<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      			<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      			<p><button class="w3-button w3-green w3-padding-large" type="submit">SEND MESSAGE</button></p>
    		</form>
  		</div>
	</div>

	<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  		<h5>Find Us On</h5>
  		<div class="w3-xlarge w3-padding-16">
   			<i class="fa fa-facebook-official w3-hover-opacity"></i>
    		<i class="fa fa-instagram w3-hover-opacity"></i>
    		<i class="fa fa-snapchat w3-hover-opacity"></i>
    		<i class="fa fa-twitter w3-hover-opacity"></i>
  		</div>
  		<p>Developed by Coding-With-Covid</a></p>
	</footer>
</body>
</html>
