<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Bronco Calendar
    </title>
</head>
<body background="../image.jpg" link="#000" alink="#017bf5" vlink="#000">
<br />
<h2><font align= "left" color="#000" face="Lato" size="6">LOGO</font></h2>
<h3 align="center">

    <font face="cinzel" color="#FDFEFE" size="4">
        <a href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Contact us</a>
    </font>
</h3>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<h1 align="center">
    <font face="Lato" color="#000" size="7">
        Welcome to Bronco Calendar
    </font>
</h1>

<h3 align="center">
    <font face="Lato" color="#000" size="5">
        Find all CPP events on our calendar
    </font>
</h3>
<br />

<h3 align="center">
    <a href="#">
        <font face="Lato" color="#000">GET STARTED</font>
    </a>
</h3>

</body>
</html>